@media screen and (max-width: 576px) {
  header {
    padding: 30px 20px;
  }

  .menu {
    display: none;
  }

  .banner-content {
    width: 100%;
  }

  .banner-content h2 {
    font-size: 30px;
  }

  .features-area,
  .count-area {
    flex-direction: column;
  }

  .features-img {
    grid-template-columns: repeat(1, 1fr);
  }

  .features-content {
    padding: 20px;
  }

  .count-box {
    margin: 20px 15px;
  }
}

/* MEDIUM-DEVICE-RESPONSIVE  */

@media screen and (min-width: 577px) and (max-width: 992px) {
  header {
    padding: 0;
  }

  .banner-content {
    width: 100%;
    /* padding: 50px 20px 50px 20px; */
  }

  .banner-content h2 {
    font-size: 35px;
  }

  .features-area,
  .count-area {
    flex-direction: column;
  }

  .count-box {
    margin: 20px 15px;
  }

  .common-content-heading {
    padding-left: 20px;
  }

  .features-content {
    margin-top: 50px;
  }
}
