@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 45px;
  font-weight: 700;
  color: #131313;
}

p {
  font-size: 16px;
  color: #727272;
  font-weight: 400;
}

.btn {
  background-color: #ff900e;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  padding: 17px 25px;
  border-radius: 5px;
  border: none;
}

/* HEADER  */

header {
  background-color: #fff4e7;

  padding: 30px 200px 20px 200px;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h3 {
  font-size: 32px;
}

.menu > ul {
  display: flex;
}

.menu li {
  list-style: none;
  font-size: 18px;
  /* margin-right: 20px; */
}

.menu li a {
  text-decoration: none;
  color: #424242;
  margin-right: 30px;
}

/* BANNER  */

.banner-content {
  width: 855px;
  margin: 0 auto;
  padding: 70px 0 40px 0;
  text-align: center;
}

.banner-content h2 {
  font-size: 60px;
  margin-bottom: 25px;
}

.banner-img img {
  width: 100%;
}

/* MAIN  */
main {
  max-width: 1140px;
  margin: 90px auto;
}

/* FEATURES-AREA  */

.features-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.features-content {
  padding-left: 50px;
}

.features-content span {
  color: #727272;
  font-weight: 500;
}

.features-content .orange {
  color: #ff900e;
  font-weight: 700;
}

.features-content p {
  margin-bottom: 25px;
}
